body {
    font: 1em "HelveticaNeue", sans-serif;
  }
  @font-face {
    font-family: "HelveticaNeue";
    src: url("../font/HelveticaNeue.otf")
  }
.comm-card-container {
    max-width: 1275px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 32px;
    display: block;
}

.grid-container {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}

div {
    display: block;
}

.comm-card-container .content-headline {
    margin-bottom: 5px;
}

.home .content-headline {
    margin-bottom: 25px;
}

.content-headline h2 {
    padding-left: 0;
    padding-right: 0;
    width: 83.33333%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.content-headline {
    text-align: center;
}

.comm-card-container .card-content .image {
    height: 345px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.comm-card-container .card {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    float: left;
}

.card {
    text-align: center;
    display: block;
    margin: 0 auto 65px;
    position: relative;
    border: none !important;
}

.comm-card-container .card-container {
    overflow: hidden;
}

.comm-card-container .card-content:hover {
    opacity:.6;     
    transition: all 0.5s;
    text-decoration: none;
}

.comm-card-container .card-content .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
}

.comm-card-container .card-content {
    display: block;
    background: #585858;
    transition: background-color 0.3s ease-in-out;
}

.comm-card-container .card-content .content {
    padding: 20px 10%;
}

.comm-card-container .card-content .content h4 {
    color: #fff;
    font-weight: 400;
    margin-top: 0;
}

.comm-card-container .card-content .content p {
    color: #fff;
    margin-bottom: 0;
}

.card p {
    line-height: 1.6;
}

 .card .campaign {
    background: #F5B206;
} 

 .card .campaign .content p {
    color: #4D4D4D;
}

.card .campaign .content h4 {
    color: #4D4D4D;
}

p {
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

h4 {
    font-size: 1.75rem;
}

h2 {
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 1.2;
}

ul {
    margin-left: 1.1rem;
    font-family: inherit;
    font-size: 1.25rem;
    line-height: 1.4;
    list-style-position: outside;
    margin-bottom: 1.25rem;
}

a {
    color: #585858;
    line-height: inherit;
    text-decoration: none;
}